@model FingWeb.Core.SearchViewModel

@{
    ViewBag.Title = "Search";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Search</h2>

<div>@Model.SearchTerm</div>

@foreach(Fing.Result result in Model.Results)
{
    <div>@result.mem.DisplayName</div>
}